* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Navbar */
.inter {
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
}

.display-flex {
   display: flex;
}

.nav-bar {
   margin: 0 auto;
   background-color: #1A0B2E;
   padding: 24px 200px;
   justify-content: space-between;
   border-bottom: 1px solid #ffffff35;
}

.nav-list {
   list-style: none;
   margin: 0px 314px 0px 314px;
   gap: 32px;
   align-items: center;
   font-size: 16px;
   font-weight: medium;
}

.lista {
   text-decoration: none;
   color: #ffffff;
}

.button {
   color: white;
   background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
   padding: 10px;
   border-radius: 20px;
   border: none;
   font-weight: 600px;
   font-size: 16px;
   ;
}

.responsive-logo {
   display: none;
}

/* hero-section */
.container {
   background: url("../images/hero-bg.png") center no-repeat;
   padding: 80px 625px 150px 625px;
   background-size: cover;
}

.hero-circle {
   justify-content: center;
   list-style: none;
   margin-top: 100px;
}

.microphone {
   margin-left: -235px;
   margin-top: 80px;
}

.techwave {
   font-size: 3.75rem;
   text-align: center;
   color: #ffffff;
   font-weight: bolder;
}

.paragraph {
   font-size: 1rem;
   color: #ffffff;
   text-align: center;
   font-weight: lighter;
   padding: 24px 0px;
}

.hero-text {
   margin-top: 40px;
}

.buttontwo {
   list-style: none;
   justify-content: center;
   gap: 8px;
}

.spotify {
   color: white;
   font-size: 1rem;
   padding: 13px;
   background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
   border-radius: 30px;
   border: none;
}

.subscribe {
   padding: 13px;
   font-size: 1rem;
   color: #00FF88;
   background-color: transparent;
   border-color: #00FF88;
   border-radius: 30px;
}

/* Rating-Section */
.about-podcast {
   margin-bottom: 100px;
   max-width: 1600px;
   border-bottom: 1px solid #ffffff35;
}

.about-podcast h3 {
   font-size: 3rem;
   font-weight: bold;
   color: white;
   margin-bottom: 16px;
}

.p-1 {
   font-size: 0.9375rem;
   color: white;
   line-height: 20px;
   padding: 20px;
   font-weight: 100;
}

.p-2 {
   font-size: 0.9375rem;
   color: white;
   line-height: 20px;
   margin-bottom: 50px;
   font-weight: 100;
}

.main-sec {
   margin: 0 auto;
   justify-content: center;
   text-align: center;
}

.number-one {
   background-color: #1a0c30;
   padding-bottom: 20px;
   padding-top: -500px;
}

.number-two {
   background-color: #1a0c30
}

.ratings {
   max-width: 1600px;
   width: 100%;
   display: flex;
   margin: 0 auto;
   padding: 80px 20px 120px;
   text-align: center;
   justify-content: space-between;
   gap: 40px;
}

.ratings-star {
   flex: 1;
}

.number-p {
   font-size: 16px;
   color: white;
   line-height: 20px;
}

.number-header {
   font-size: 3rem;
   font-weight: 900px;
   color: #00FF88;
}

/* reason-section */
.grid-section {
   background-color: #230E3D;
   text-align: center;
   justify-content: center;
   padding-bottom: 150px;
}

.grid-heading {
   padding-top: 50px;
   padding-bottom: 50px;
   font-size: 3rem;
   font-weight: bold;
   color: white;
}

.unknown>* {
   border: 2px solid #351165;
   background-color: #351165;
   border-radius: 30px;
   padding: 40px;
}

.first-layout {
   grid-area: first-layout;
}

.second-layout {
   grid-area: second-layout;
}

.third-layout {
   grid-area: third-layout;
}

.fourth-layout {
   grid-area: fourth-layout;
}

.fifth-layout {
   grid-area: fifth-layout;
}

.first-all {
   margin-top: 70px;
}

.logo-h3 {
   font-size: 24px;
   color: #ffffff;
}

.logo-p {
   font-size: 16px;
   color: #ffffff;
   font-weight: lighter;
   margin-top: 15px;
}

.unknown {
   display: grid;
   gap: 20px;
   max-width: 1600px;
   margin: 0 auto;
   grid-template-areas:
      "first-layout second-layout second-layout second-layout"
      "first-layout third-layout third-layout third-layout"
      "fourth-layout fourth-layout fourth-layout fifth-layout"
}

/* Link-section */
#featured-episode {
   max-width: 1600px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
}

.featured {
   justify-content: center;
   text-align: center;
   font-size: 48px;
   font-weight: bold;
   color: white;
   padding-top: 120px;
   padding-bottom: 40px;

}

.featured-one {
   max-width: 1600px;
   background-color: #250D44;
   border-radius: 15px;
   overflow: hidden;

}

.heading-one {
   font-size: 24px;
   font-weight: bold;
   color: white;
   padding: 24px 24px 12px 24px;
}

.paragraph-one {
   font-size: 16px;
   font-weight: 400;
   color: white;
   padding: 0px 24px 12px 24px;
   line-height: 24px;
}

.icon-clock {
   display: flex;
   gap: 6px;
   padding: 12px 24px 24px 24px;
}

.clock-size {
   width: 20px;
}

.time {
   font-size: 16px;
   font-weight: 600px;
   line-height: 24px;
   color: #00FF88;
}
/* footer-last */

.section-done {
   background-color: #230e3d;
}

.lastone {
   max-width: 1600px;
   background-color: #250d44;
   border-radius: 20px;
}

.meet-host {
   text-align: center;
   background-color: #230e3d;
   padding-bottom: 50px;
   color: #ffffff;
   font-size: 25px;
}

.lastone {
   margin: 0 auto;
   display: flex;
   justify-content: center;
   padding: 50px;
}

.name-info {
   padding: 30px 0px 0px 30px;
}

.name-info h2 {
   color: #ffffff;
   padding-bottom: 10px;
}

.name-info p {
   color: #ffffff;
   font-weight: lighter;
   gap: 5px;
}

.image-border {
   padding: 10px;
   border: 1px solid #ffffff15;
   border-radius: 50%;
}
/* footer  */
.footer-one{
   background-image: url(../images/footer-bg.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.logo-footer{
   text-align: center;
   padding-top: 100px;
   
}
.icon-footer{
   display: flex;
   justify-content: center;
   padding-top: 30px;
   padding-bottom: 60px;
}
.icon-card{
   display: flex;
   gap: 10px;
}
.dj{
   color: #ffffff;
}
.lastfor{
      text-align: center;
      color: white;
      margin-top: -30px;
      padding-bottom: 50px;
   }


/* Responsive-For-Phone */
@media screen and (max-width:576px) {

   /* Nav-bar */
   .nav-bar {
      flex-direction: row;
      padding: 30px;
      align-items: center;
   }

   .nav-list,
   .button {
      display: none;
   }

   .responsive-logo {
      display: initial;
      visibility: visible;
      margin-left: 100px;
   }

   /* Hero-section */
   .container {
      padding: 50px;
   }

   .hero-circle {
      margin-top: 50px;
   }

   .about-podcast h3 {
      font-size: 2.2rem;
   }

   /* Rating-Section */
   .ratings {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      padding: 40px 16px 60px;
      gap: 32px;
   }

   .number-header {
      font-size: 2.2rem;
   }

   .number-p {
      font-size: 14px;
   }

   /* reason-section */
   .unknown {

      grid-template-areas:
         "first-layout"
         "second-layout"
         "third-layout"
         "fourth-layout"
         "fifth-layout"
   }

   .first-all {
      margin-top: 0;
   }

   .unknown {
      margin-top: 60px;
   }

   .unknown {
      margin: 20px;
   }

   .grid-heading {
      font-size: 30px;
      padding-top: 50px;
      padding-bottom: 10px;
   }

   .grid-section {
      padding-bottom: 70px;
   }

   /* link-section */
   .featured {
      padding-top: 30px;
   }

   #featured-episode {
      display: flex;
      flex-direction: column;
   }

   .featured-one {
      margin: 30px;
   }

   .featured {
      font-size: 32px;
   }
   /* footer-last */
   .lastone{
      flex-direction: column;
      align-items: center;
   }
   .footer-one{
      
   }

}