* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Navbar */
.inter {
   font-family: "Inter", sans-serif;
   font-optical-sizing: auto;
}

.display-flex {
   display: flex;
}

.nav-bar {
   margin: 0 auto;
   background-color: #1A0B2E;
   padding: 24px 200px;
   justify-content: space-between;
   border-bottom: 1px solid #ffffff35;
}

.nav-list {
   list-style: none;
   margin: 0px 314px 0px 314px;
   gap: 32px;
   align-items: center;
   font-size: 16px;
   font-weight: medium;
}

.lista {
   text-decoration: none;
   color: #ffffff;
}

.button {
   color: white;
   background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
   padding: 10px;
   border-radius: 20px;
   border: none;
   font-weight: 600px;
   font-size: 16px;
   ;
}

.responsive-logo {
   display: none;
}

/* hero-section */
.container {
   background: url("../images/hero-bg.png") center no-repeat;
   padding: 80px 625px 150px 625px;
   background-size: cover;
}

.hero-circle {
   justify-content: center;
   list-style: none;
   margin-top: 100px;
}

.microphone {
   margin-left: -235px;
   margin-top: 80px;
}

.techwave {
   font-size: 3.75rem;
   text-align: center;
   color: #ffffff;
   font-weight: bolder;
}

.paragraph {
   font-size: 1rem;
   color: #ffffff;
   text-align: center;
   font-weight: lighter;
   padding: 24px 0px;
}

.hero-text {
   margin-top: 40px;
}

.buttontwo {
   list-style: none;
   justify-content: center;
   gap: 8px;
}

.spotify {
   color: white;
   font-size: 1rem;
   padding: 13px;
   background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
   border-radius: 30px;
   border: none;
}

.subscribe {
   padding: 13px;
   font-size: 1rem;
   color: #00FF88;
   background-color: transparent;
   border-color: #00FF88;
   border-radius: 30px;
}

/* Rating-Section */
.about-podcast {
   margin-bottom: 100px;
   max-width: 1600px;
   border-bottom: 1px solid #ffffff35;
}

.about-podcast h3 {
   font-size: 3rem;
   font-weight: bold;
   color: white;
   margin-bottom: 16px;
}

.p-1 {
   font-size: 0.9375rem;
   color: white;
   line-height: 20px;
   padding: 20px;
   font-weight: 100;
}

.p-2 {
   font-size: 0.9375rem;
   color: white;
   line-height: 20px;
   margin-bottom: 50px;
   font-weight: 100;
}

.main-sec {
   margin: 0 auto;
   justify-content: center;
   text-align: center;
}

.number-one {
   background-color: #1a0c30;
   padding-bottom: 20px;
   padding-top: -500px;
}

.number-two {
   background-color: #1a0c30
}

.ratings {
   max-width: 1600px;
   width: 100%;
   display: flex;
   margin: 0 auto;
   padding: 80px 20px 120px;
   text-align: center;
   justify-content: space-between;
   gap: 40px;
}

.ratings-star {
   flex: 1;
}

.number-p {
   font-size: 16px;
   color: white;
   line-height: 20px;
}

.number-header {
   font-size: 3rem;
   font-weight: 900px;
   color: #00FF88;
}

/* Responsive-For-Phone */
@media screen and (max-width:576px) {

   /* Nav-bar */
   .nav-bar {
      flex-direction: row;
      padding: 30px;
      align-items: center;
   }

   .nav-list,
   .button {
      display: none;
   }

   .responsive-logo {
      display: initial;
      visibility: visible;
      margin-left: 100px;
   }

   /* Hero-section */
   .container {
      padding: 50px;
   }

   .hero-circle {
      margin-top: 50px;
   }

   .about-podcast h3 {
      font-size: 2.2rem;
   }

   /* Rating-Section */
   .ratings {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      padding: 40px 16px 60px;
      gap: 32px;
   }

   .number-header {
      font-size: 2.2rem;
   }

   .number-p {
      font-size: 14px;
   }
}